# Ambientes Virtuais
venv/
env/
.venv/
.node_modules
# Variáveis de Ambiente (SEGURANÇA!)
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# IDEs (Opcional, mas recomendado)
.vscode/
.idea/

# Arquivos de experimentos e datasets
dataset_tcc/
graficos_tcc/
metricas_experimento.csv
qualidade_experimento.csv